In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [14]:
# method chaining is always much better than index chaining and is considered "pandorable"
# execution time wise, it is not efficient, but it is more readable
(df.where(df['SUMLEV'] == 40)
    .dropna()
    .set_index(['STNAME','CTYNAME'])
    .rename(columns={'REGION': 'Region'})
    .head())

,,SUMLEV,Region,DIVISION,STATE,COUNTY,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
STNAME,CTYNAME,,,,,,,,,,,,,,,,,,,,,
Alabama,Alabama,40.0,3.0,6.0,1.0,0.0,4779736.0,4780127.0,4785161.0,4801108.0,4816089.0,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
Alaska,Alaska,40.0,4.0,9.0,2.0,0.0,710231.0,710249.0,714021.0,722720.0,731228.0,...,-1.173489,-1.946424,-3.915107,-14.438910,-10.407475,0.931274,1.818497,-0.757148,-11.271709,-6.881838
Arizona,Arizona,40.0,4.0,8.0,4.0,0.0,6392017.0,6392307.0,6408208.0,6468732.0,6553262.0,...,1.327489,5.245740,3.905473,6.219955,6.776501,3.290378,7.337279,6.123606,8.761352,9.335208
Arkansas,Arkansas,40.0,3.0,7.0,5.0,0.0,2915918.0,2915958.0,2922394.0,2938538.0,2949499.0,...,1.365312,-0.432402,-0.442153,-1.060966,-0.407735,2.326251,0.646395,0.682189,0.226168,0.901928
California,California,40.0,4.0,9.0,6.0,0.0,37253956.0,37254503.0,37334079.0,37700034.0,38056055.0,...,-1.148464,-1.163788,-1.339869,-0.862856,-1.981572,2.761704,2.647127,2.728645,3.743342,2.656065

In [15]:
# traditional way of performing the same task as above
# execution time wise it is efficient, but not very readable
cdf = df[df['SUMLEV'] == 40]
cdf.set_index(['STNAME', 'CTYNAME'], inplace = True)
cdf.rename(columns={'REGION': 'Region'}, inplace = True)
cdf.head()

D:\Softwares\Anaconda3\lib\site-packages\pandas\core\frame.py:3027: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,,SUMLEV,Region,DIVISION,STATE,COUNTY,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
STNAME,CTYNAME,,,,,,,,,,,,,,,,,,,,,
Alabama,Alabama,40,3,6,1,0,4779736,4780127,4785161,4801108,4816089,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
Alaska,Alaska,40,4,9,2,0,710231,710249,714021,722720,731228,...,-1.173489,-1.946424,-3.915107,-14.438910,-10.407475,0.931274,1.818497,-0.757148,-11.271709,-6.881838
Arizona,Arizona,40,4,8,4,0,6392017,6392307,6408208,6468732,6553262,...,1.327489,5.245740,3.905473,6.219955,6.776501,3.290378,7.337279,6.123606,8.761352,9.335208
Arkansas,Arkansas,40,3,7,5,0,2915918,2915958,2922394,2938538,2949499,...,1.365312,-0.432402,-0.442153,-1.060966,-0.407735,2.326251,0.646395,0.682189,0.226168,0.901928
California,California,40,4,9,6,0,37253956,37254503,37334079,37700034,38056055,...,-1.148464,-1.163788,-1.339869,-0.862856,-1.981572,2.761704,2.647127,2.728645,3.743342,2.656065

In [17]:
student_1 = pd.Series({'Name':'Shashwat',
                        'Course':'FAI',
                       'Grade':85})
student_2 = pd.Series({'Name':'Shashwat',
                        'Course':'IR',
                       'Grade':96})
student_3 = pd.Series({'Name':'Aatish',
                        'Course':'CSS',
                       'Grade':92})
students = pd.DataFrame([student_1, student_2, student_3], index = ['Student 1', 'Student 1', 'Student 3'])
students

          Course  Grade      Name
Student 1    FAI     85  Shashwat
Student 1     IR     96  Shashwat
Student 3    CSS     92    Aatish

In [27]:
# to drop the students who got below 90 in any subject 
students.drop(students[students['Grade'] < 90].index)

          Course  Grade    Name
Student 3    CSS     92  Aatish

In [53]:
import numpy as np
import random as r

In [54]:
# this function takes a row and finds the minimum and maximum POPESTIMATES from 2010-2015
def min_max(row):
    data = row[['POPESTIMATE2010',
                'POPESTIMATE2011',
                'POPESTIMATE2012',
                'POPESTIMATE2013',
                'POPESTIMATE2014',
                'POPESTIMATE2015']]
    return pd.Series({'MIN': np.min(data), 'MAX': np.max(data)})

In [55]:
# the apply function applies the min_max function to every row in the dataframe
# axis = 0 is for column wise operation and axis = 1 is for row wise operation
cdf.apply(min_max, axis = 1).head()

                              MAX         MIN
STNAME     CTYNAME
Alabama    Alabama      4858979.0   4785161.0
Alaska     Alaska        738432.0    714021.0
Arizona    Arizona      6828065.0   6408208.0
Arkansas   Arkansas     2978204.0   2922394.0
California California  39144818.0  37334079.0

In [67]:
# using the lambda to print squares of every element of a list
l = []
for i in range(10):
    l.append(r.randint(0,50))
print(l)    
list(map((lambda x: x**2), l))

[19, 33, 12, 49, 11, 11, 26, 21, 30, 1]

[361, 1089, 144, 2401, 121, 121, 676, 441, 900, 1]

In [73]:
# finding the maximum popestimates from 2010-2015 using lambda
pop_rows = ['POPESTIMATE2010',
             'POPESTIMATE2011',
             'POPESTIMATE2012',
             'POPESTIMATE2013',
             'POPESTIMATE2014',
             'POPESTIMATE2015']
cdf.apply((lambda x: np.max(x[pop_rows])), axis = 1)

STNAME                CTYNAME
Alabama               Alabama                  4858979.0
Alaska                Alaska                    738432.0
Arizona               Arizona                  6828065.0
Arkansas              Arkansas                 2978204.0
California            California              39144818.0
Colorado              Colorado                 5456574.0
Connecticut           Connecticut              3597168.0
Delaware              Delaware                  945934.0
District of Columbia  District of Columbia      672228.0
Florida               Florida                 20271272.0
Georgia               Georgia                 10214860.0
Hawaii                Hawaii                   1431603.0
Idaho                 Idaho                    1654930.0
Illinois              Illinois                12889580.0
Indiana               Indiana                  6619680.0
Iowa                  Iowa                     3123899.0
Kansas                Kansas                   2911641.0
Kentucky              Kentucky                 4425092.0
Louisiana             Louisiana                4670724.0
Maine                 Maine                    1330256.0
Maryland              Maryland                 6006401.0
Massachusetts         Massachusetts            6794422.0
Michigan              Michigan                 9922576.0
Minnesota             Minnesota                5489594.0
Mississippi           Mississippi              2993443.0
Missouri              Missouri                 6083672.0
Montana               Montana                  1032949.0
Nebraska              Nebraska                 1896190.0
Nevada                Nevada                   2890845.0
New Hampshire         New Hampshire            1330608.0
New Jersey            New Jersey               8958013.0
New Mexico            New Mexico               2086890.0
New York              New York                19795791.0
North Carolina        North Carolina          10042802.0
North Dakota          North Dakota              756927.0
Ohio                  Ohio                    11613423.0
Oklahoma              Oklahoma                 3911338.0
Oregon                Oregon                   4028977.0
Pennsylvania          Pennsylvania            12802503.0
Rhode Island          Rhode Island             1056298.0
South Carolina        South Carolina           4896146.0
South Dakota          South Dakota              858469.0
Tennessee             Tennessee                6600299.0
Texas                 Texas                   27469114.0
Utah                  Utah                     2995919.0
Vermont               Vermont                   627129.0
Virginia              Virginia                 8382993.0
Washington            Washington               7170351.0
West Virginia         West Virginia            1856283.0
Wisconsin             Wisconsin                5771337.0
Wyoming               Wyoming                   586107.0
dtype: float64