In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D'],
                     index = ['Excellent', 'Excellent', 'Excellent',
                                'Good', 'Good', 'Good',
                                 'Average', 'Average', 'Average',
                                 'OK', 'OK'])
df.rename(columns={0: 'Letter Grades'}, inplace = True)
df

          Letter Grades
Excellent            A+
Excellent             A
Excellent            A-
Good                 B+
Good                  B
Good                 B-
Average              C+
Average               C
Average              C-
OK                   D+
OK                    D

In [6]:
# assigning a column a particular scale, in this case type is category, eg. of nominal data
df['Letter Grades'].astype('category')

Excellent    A+
Excellent     A
Excellent    A-
Good         B+
Good          B
Good         B-
Average      C+
Average       C
Average      C-
OK           D+
OK            D
Name: Letter Grades, dtype: category
Categories (11, object): [A, A+, A-, B, ..., C+, C-, D, D+]

In [11]:
grades = df['Letter Grades'].astype('category',
                                    categories = ['D', 'D+', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A', 'A+'],
                                    ordered = True)

D:\Softwares\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
# ordered data helps in creating boolean masking
grades > 'C'

Excellent     True
Excellent     True
Excellent     True
Good          True
Good          True
Good          True
Average       True
Average      False
Average      False
OK           False
OK           False
Name: Letter Grades, dtype: bool