In [2]:
import pandas as pd

In [3]:
# creating series that will be input into a dataframe
student_1 = pd.Series({"Name":"Shashwat",
                        "Course":"FAI",
                       "Grade":85})
student_2 = pd.Series({"Name":"Shravan",
                        "Course":"IR",
                       "Grade":96})
student_3 = pd.Series({"Name":"Aatish",
                        "Course":"CSS",
                       "Grade":92})

In [17]:
# creating a dataframe by specifying a list of indexes
students = pd.DataFrame([student_1, student_2, student_3], index = ["Student 1", "Student 1", "Student 3"])
students

          Course  Grade      Name
Student 1    FAI     85  Shashwat
Student 1     IR     96   Shravan
Student 3    CSS     92    Aatish

In [18]:
students.iloc[0]   # accessing rows in a dataframe using iloc

Course         FAI
Grade           85
Name      Shashwat
Name: Student 1, dtype: object

In [22]:
students.loc["Student 1"]  # accessing a particular index using loc

          Course   Grade   Name
Student 1   Name  Course  Grade
Student 1   Name  Course  Grade

In [23]:
type(students.loc["Student 1"]) # if there are more than one index they are returned as a dataframe

pandas.core.frame.DataFrame

In [24]:
type(students.loc["Student 3"]) # else a single row is returned as a series

pandas.core.series.Series